$padding-x: 30px;
$padding-y: 18px;

.sidebar {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    
    .brand{
        color: #FFF;
        font-size: 20pt;
        font-weight: bold;
        padding: $padding-y $padding-x;
        height: 80px;
    }

    .nav {
        margin: 0;
        padding: 0;
        flex: 1;
        .nav-item {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #FFF;
            padding: $padding-y $padding-x;

            &:hover{
                background-color: var(--primary-color-text);
                color: var(--primary-color);
                transition: all $transitionDuration;
            }
        }
    }

    .footer{
        height: 80px;
        padding: $padding-y $padding-x;
    }
}