$padding-x: 30px;
$padding-y: 18px;

.sidebar {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--primary-color-text);

    .brand{
        font-size: 20pt;
        font-weight: bold;
        padding: $padding-y $padding-x;
        height: 80px;
        color: var(--primary-color-text);
    }

    .nav {
        margin: 0;
        padding: 0;
        flex: 1;

        .nav-item {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: $padding-y $padding-x;
            color: var(--primary-color-text);
            
            &.active,
            &:hover{
                background-color: var(--highlight-bg);
                color: var(--highlight-text-color);
            }
        }
    }

    .footer{
        height: 80px;
        padding: $padding-y $padding-x;
    }
}