@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter:wght@300;400;700&display=swap');
@import "../node_modules/primeflex/primeflex.scss";
@import "primereact/resources/themes/tailwind-light/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "./styles/layout.scss";